<nav>
    <div class="py-2">
        <a routerLink="/plan" routerLinkActive="active">Plans</a>
        <a routerLink="/forms" routerLinkActive="active">Website Form</a>
        <a routerLink="/order" routerLinkActive="active">Order List</a>
        <a routerLink="/Leads" routerLinkActive="active">Leads</a>
        <a routerLink="/contact" routerLinkActive="active">Contact List</a>
        <a routerLink="/category" routerLinkActive="active">Blog Category</a>
        <a routerLink="/post" routerLinkActive="active">Blog</a>
        <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        <a routerLink="/faq" routerLinkActive="active">FAQ</a>
        <a routerLink="/upload-image" routerLinkActive="active">Upload Image</a>
        <a (click)="logout()">Logout</a>
    </div>
</nav>