<app-header></app-header>
<section class="d-flex justify-content-between">
  <app-side-nav></app-side-nav>
  <section id="mainContent">
    <div class="p-4">
      <div id="pageHead">
        <h2>Leads</h2>
        <!-- <a routerLink="/category/add" class="btn">Add Category</a> -->
      </div>
      <tabset #tabset>
        <tab [heading]="tabs[0].name" (selectTab)="onTabChange(tabs[0].id)">
          <ng-container *ngIf="tabs[0].id == selectedTabID">
            <app-leads-for-state-section
              [tabID]="tabs[0].id"
              (sendData)="setTabData($event)"
              [selectedTab]="selectedTab"
              (tabChange)="tabChange($event)"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
            >
            </app-leads-for-state-section>
          </ng-container>
        </tab>
        <tab [heading]="tabs[1].name" (selectTab)="onTabChange(tabs[1].id)">
          <ng-container *ngIf="tabs[1].id == selectedTabID">
            <app-organisation-info
              [tabID]="tabs[1].id"
              (sendData)="setTabData($event)"
              [selectedTab]="selectedTab"
              (tabChange)="tabChange($event)"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
            >
            </app-organisation-info>
          </ng-container>
        </tab>
        <tab [heading]="tabs[2].name" (selectTab)="onTabChange(tabs[2].id)">
          <ng-container *ngIf="tabs[2].id == selectedTabID">
            <app-individual-info
              [tabID]="tabs[2].id"
              (sendData)="setTabData($event)"
              [selectedTab]="selectedTab"
              (tabChange)="tabChange($event)"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
              (addNewIndividual)="addNewIndividual($event)"
            >
            </app-individual-info>
          </ng-container>
        </tab>

        <!-- <tab *ngFor="let newTab of NewIndividualList" [heading]="newTab.name"
                    (selectTab)="onTabChange(newTab.id)">
                    <app-individual-info [tabID]="newTab.id" (sendData)="setTabData($event)" (tabChange)="tabChange($event)"  [selectedTab]="selectedTab"
                        [selectedTabID]="selectedTabID" [ID]="ID">
                    </app-individual-info>
                </tab> -->

        <tab [heading]="tabs[3].name" (selectTab)="onTabChange(tabs[3].id)">
          <ng-container *ngIf="tabs[3].id == selectedTabID">
            <app-bank-details
              [tabID]="tabs[3].id"
              (sendData)="setTabData($event)"
              [selectedTab]="selectedTab"
              (tabChange)="tabChange($event)"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
            >
            </app-bank-details>
          </ng-container>
        </tab>

        <tab [heading]="tabs[4].name" (selectTab)="onTabChange(tabs[4].id)">
          <ng-container *ngIf="tabs[4].id == selectedTabID">
            <app-ppob
              [tabID]="tabs[4].id"
              (sendData)="setTabData($event)"
              (tabChange)="tabChange($event)"
              [selectedTab]="selectedTab"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
            >
            </app-ppob>
          </ng-container>
        </tab>

        <tab [heading]="tabs[5].name" (selectTab)="onTabChange(tabs[5].id)">
          <ng-container *ngIf="tabs[5].id == selectedTabID">
            <app-apob
              [tabID]="tabs[5].id"
              (sendData)="setTabData($event)"
              (tabChange)="tabChange($event)"
              [selectedTab]="selectedTab"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
            >
            </app-apob>
          </ng-container>
        </tab>
        <tab [heading]="tabs[6].name" (selectTab)="onTabChange(tabs[6].id)">
          <ng-container *ngIf="tabs[6].id == selectedTabID">
            <app-complaince-check
              [tabID]="tabs[6].id"
              (sendData)="setTabData($event)"
              [selectedTab]="selectedTab"
              (tabChange)="tabChange($event)"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
            >
            </app-complaince-check>
          </ng-container>
        </tab>
        <tab [heading]="tabs[7].name" (selectTab)="onTabChange(tabs[7].id)">
          <ng-container *ngIf="tabs[7].id == selectedTabID">
            <app-create-gstapp
              [tabID]="tabs[7].id"
              (sendData)="setTabData($event)"
              [selectedTab]="selectedTab"
              (tabChange)="tabChange($event)"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
            >
            </app-create-gstapp>
          </ng-container>
        </tab>
        <tab
          [heading]="tabs[8].name"
          (selectTab)="onTabChange(tabs[8].id)"
          *ngIf="showInvoice"
        >
          <ng-container *ngIf="tabs[8].id == selectedTabID">
            <app-invoice
              [tabID]="tabs[8].id"
              (sendData)="setTabData($event)"
              (tabChange)="tabChange($event)"
              [selectedTab]="selectedTab"
              [selectedTabID]="selectedTabID"
              [ID]="ID"
            >
            </app-invoice>
          </ng-container>
        </tab>
      </tabset>
    </div>
  </section>
</section>
<app-footer></app-footer>
