<app-header></app-header>
<section class="d-flex justify-content-between">
  <app-side-nav></app-side-nav>
  <section id="mainContent">
    <div class="p-4">
      <div id="pageHead">
        <h2>Leads</h2>
        <!-- <a routerLink="/Leads/create" class="btn">ADD Leads</a> -->
        <button type="button" (click)="onCreateClick()">Create</button>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Lead No</th>
              <th scope="col">Lead Date</th>
              <th scope="col">GTS Status</th>
              <th scope="col">Seller Email</th>
              <th scope="col">Seller Trade Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records; let index = index">
              <td scope="row">{{ index + 1 }}</td>
              <td scope="row">{{ item.Lead_no }}</td>
              <td scope="row">{{ item.Lead_date }}</td>
              <td scope="row">
                {{ item.GTS_Status == "-1" ? "NA" : item.GTS_Status }}
              </td>
              <td scope="row">{{ item.Seller_Email_id }}</td>
              <td scope="row">{{ item.Seller_Trade_Name }}</td>
              <td scope="row">
                <button
                  type="button"
                  (click)="onUpdateClick(item.id, item.isSubmit === true)"
                >
                  Update
                  <!-- {{ item.isSubmit === true ? "View" : "Update" }} -->
                </button>
                <button type="button" (click)="onDeleteClick(item.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>
<app-footer></app-footer>
