@import url('../_gst.scss');

.AddNewIndividual{
    border: none;
    border-radius: 3px;
    background-color: #ff5834;
    color: #ffffff;
    padding: 5px 30px;
    margin-top: 10px;
    transition: 0.2s all linear;
}