@import url("../_gst.scss");

.filters {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;

  input {
    z-index: 1 !important;
  }

  .months {
    display: flex;
    gap: 0.5rem;
    // flex-wrap: wrap;

    label {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: medium;
    }
  }

  select {
    padding: 0 !important;
    font-size: medium;

    option {
      font-size: medium;
    }
  }
}
